.mypy_cache/
**/__pycache__/
build/
dist/
ln_node_binary/*
resources_rc.py
venv/
.venv/
.env
.idea/
use.py
logs/
*.deb
*.dmg
coverage-report/
test.py
.coverage
credentials.json
myenv
.fpm
config.py
package/
iriswallet.exe
updated_iriswallet.iss
appimagetool-x86_64.AppImage
AppDir/
build_info.json
*.AppImage
.vscode/
settings.json
/appimages/
temp_build_constant.py
.DS_Store
datacore
dataindex
dataldk0
dataldk1
dataldk2
allure-results
.pytest_cache
allure-results-embedded
allure-results-remote
